<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/png" href="resources/img/favicon.jpg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Valhalla BattleGround Calculator"/>
    <meta name="author" content="AntCsDev"/>
    <title>Valhalla BattleGround Calculator</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>
    <link href="resources/css/dashboard.css" rel="stylesheet"/>
</head>
<body>
 	<script src="resources/js/jquery-3.2.1.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/ie10-viewport-bug-workaround.js"></script>
    <script src="resources/js/custom.js"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header" >
        
         <div class=" col-md-12 ">
          <a class="navbar-brand"  href="/">Valhalla BattleGround Calculator</a>
          </div>
             <div class=" col-md-8" >
             	<div class="text-success" style="display:inline-block;margin-left:15px;" id="resultHeader" ></div>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid"  >
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Calculator <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="">
        <div class="my-container">
          <h1 class="page-header">Calculator</h1></div>
        

          <h2 class="sub-header"></h2>
          <div class="table-responsive">
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2>Offensive</h2>
          <br></br>
            <br></br>
			<div th:if="${offList!= null}">
	             <div  class="col-md-3" th:each="item : ${offList}">
	             		<label th:for="${item.id}" th:text="${item.name}"></label>
	                    <input type="number" th:id="${item.id}" class="form-control"/>
	                    <br></br>
	                    <div class="alert alert-info" th:id="${item.result}"> <br></br></div>
	            	  <br></br>
	             </div>
	           
             </div>
             
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2>Defensive</h2>
          <br></br>
            <br></br>
			<div th:if="${defList!= null}">
	             <div  class="col-md-3" th:each="item : ${defList}">
	             		<label th:for="${item.id}" th:text="${item.name}"></label>
	                    <input type="number" th:id="${item.id}" class="form-control"/>
	                    <br></br>
	                    <div class="alert alert-info" th:id="${item.result}"> <br></br></div>
	             </div>
             </div>
          </div>
      </div>
         <div class="row">
           <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="">
           <h4>Total Result : </h4>
         	  <div class="d-inline bg-success" id="result"><br></br></div>
         	  </div>
         </div>
    </div>
       
	<script  type="text/javascript" th:inline="javascript">
	 	/*<![CDATA[*/
		var theList = [[${defList}]];
		var listGlob=[];
		var theList1 = [[${offList}]];
		function loadLists(list)
		{
			list.forEach(function(item) 
			{
			 	$(item.idJs).on('input', function() { 
					var actId = $(this).attr('id');
					var act = $.grep(list, function(e){ 
						return e.id== actId; });
					$(act[0].resultJs).text($(this).val()* act[0].value);
					$('#result').text(getSum());
					$('#resultHeader').html('Rss Total Result : '+getSum());
			 	});
			 	listGlob.push(item.result);
			});
		}
		loadLists(theList);
		loadLists(theList1);
 	  	/*]]>*/
	</script>
	<footer style="background-color:#F5F5F5;">
		<div class="container">
			<div class="copyright">
				&copy;
				<script>
                       document.write(new Date().getFullYear())
                   </script>
				, Designed by AntCsDev. Coded by AntCsDev.
			</div>
		</div>
	</footer>
</body>
</html>